@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to a store of <a href="/Clients/index"> Clients </a></h1>
    <p>This website has a store of clients. You can add a new client, edit a current client, and delete a current client.</a>.</p>
    <p> This is merely a simple practice website using the following Technologies: </p>
  <div class="tech"> 
        <li> HTML</li>
        <li> CSS </li>
        <li> C# </li>
        <li> ASP.NET </li>
        <li> SQL server</li>

        <p> DISCLAIMER: *All of the clients listed are not real and just used for practice* </p>
    </div> 

</div>
